<div class="bg-blue-200 w-full form-box">
    {{ form_start(form) }}
        <div class="w-[50%] mb-8">{{ form_row(form.product_owner) }}</div>
        <div class="w-[50%] mb-8">{{ form_row(form.name) }}</div>
        <div class="w-[50%] my-8">{{ form_row(form.description) }}</div>
        <div class="w-[50%] my-8">{{ form_row(form.agency) }}</div>
        <div class="w-[50%] my-8">{{ form_row(form.techStack) }}</div>
        <div class="w-[50%] my-8">{{ form_row(form.domain) }}</div>
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>

